body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background-color: #f0f0f0;
}

#spinner {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3; /* Легкий серый фон */
    border-top: 8px solid #c42361; /* Синий цвет спиннера */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.sudoku-container {
    display: grid;
    grid-template-columns: repeat(9, auto); /* 9 колонок равной ширины */
    grid-template-rows: repeat(9, auto); /* 9 рядов равной высоты */
    gap: 2px; /* небольшой промежуток между ячейками */
}

.sudoku-container .fixed {
    color: #333;
    background-color: #fff;
    cursor: default;
}

.sudoku-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ccc;
    height: 40px;
    min-width: 40px;
    cursor: pointer;
}

.sudoku-container div:nth-child(3n):not(:nth-child(9n)) {
    margin-right: 10px; 
}

.sudoku-container div:nth-child(27n + 28),
.sudoku-container div:nth-child(27n + 29),
.sudoku-container div:nth-child(27n + 30),
.sudoku-container div:nth-child(27n + 31),
.sudoku-container div:nth-child(27n + 32),
.sudoku-container div:nth-child(27n + 33),
.sudoku-container div:nth-child(27n + 34),
.sudoku-container div:nth-child(27n + 35),
.sudoku-container div:nth-child(27n + 36) {
        margin-top: 3px;
      }

.controls {
    margin-top: 100px;
}

.controls button {
    padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.controls button:hover {
    background-color: #c42361;
  box-shadow: 0px 15px 20px rgba(229, 46, 116, 0.4);
  color: #fff;
  transform: translateY(7px);
}

.controls button:active {
    transform: translateY(1px);
}

.controls button:disabled {
    transform: none;
    color: #aaa;
    border: 1px #aaa solid;
    background-color: #f0f0f0;
    box-shadow: none;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    width: 120px; /* Adjust the width to fit three buttons per row */
}

.context-menu button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #fff;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.context-menu button:hover {
    background-color: #f0f0f0;
}

.cell-error {
    background-color: #FF6B6B; /* Red background for errors */
    animation: fadeOutError 3s forwards; /* Плавное затухание */
}

@keyframes fadeOutError {
    0% {
        background-color: transparent; /* Плавное изменение к прозрачному (или стандартному) */
    }
    50% {
        background-color: rgba(229, 46, 116, 0.4);
    }
    100% {
        background-color: transparent; /* Плавное изменение к прозрачному (или стандартному) */
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    .sudoku-container div {
        height: 35px;
        min-width: 35px;
    }
    
}